
.inline {
    padding-left: 3%;
    padding-right: 6%;
    padding-bottom: 3%;
    position: relative;
	color: black;
	font-weight: bold;
	background-color: #D3E5E5;
    border: 2px solid #e95420;
    width: auto;
    height: auto;
}