<div class="btn-group" role="group" aria-label="Button group with nested dropdown" class="inline">
  <div><button type="button" class="btn btn-primary" (click)="this.buyMeat(10)">Comprar 10 Carne ({{this.purchasePrices[0]*10}} Oro)</button></div>
  <div><button type="button" class="btn btn-warning" (click)="this.buyWood(10)">Comprar 10 Madera ({{this.purchasePrices[1]*10}} Oro)</button></div>
  <div><button type="button" class="btn btn-info" (click)="this.sellMeat(10)">Vender 10 Carne ({{this.salePrices[1]*10}} Oro)</button></div>
  <div><button type="button" class="btn btn-success" (click)="this.sellWood(10)">Vender 10 Madera ({{this.salePrices[1]*10}} Oro)</button></div>
</div>
