<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary" (click)="this.buyMeat(10)">Comprar Carne(10)</button>
  <button type="button" class="btn btn-secondary" (click)="this.buyWood(10)">Comprar Madera(10)</button>
  <button type="button" class="btn btn-secondary" (click)="this.sellMeat(10)">Vender Carne(10)</button>
  <button type="button" class="btn btn-secondary" (click)="this.sellWood(10)">Vender Madera(10)</button>

</div>
