
<p-growl [value]="collectors"></p-growl>

<p-carousel headerText="Recolectores" [value]="collectors">
  <ng-template let-collector pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12"><img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60"></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Recolector</div>
        <div class="ui-grid-col-6">{{collector.name}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Nivel</div>
        <div class="ui-grid-col-6">{{collector.level}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Recurso por segundo</div>
        <div class="ui-grid-col-6">{{collector.yieldValue()}}</div>
      </div>
    </div>
  </ng-template>
</p-carousel>
