<h1>
  <div class="inline"> {{title}}</div>
  <div class="inline"><app-messages></app-messages></div>
  <div class="inline"><app-resources></app-resources></div>

	<div class="routing">
		<a routerLink="cuartel" routerLinkActive="active"><img class="pequeña" id="cuartel"></a>
		<a routerLink="recursos" routerLinkActive="active"><img class="pequeña" id="recursos"></a>
		<a routerLink="mercado" routerLinkActive="active"><img class="pequeña" id="mercado"></a>
		<a routerLink="ejercito" routerLinkActive="active"><img class="pequeña" id="ejercito"></a>
		<a routerLink="armeria" routerLinkActive="active" ><img class="pequeña" id="armeria"></a>
    <a routerLink="recolectores" routerLinkActive="active" ><img class="pequeña" id="recolector"> 
      <app-collectors></app-collectors>
    </a>
		<a routerLink="ayuntamiento" routerLinkActive="active"><img class="mediana" id="ayuntamiento"></a>
		<br> <!-- Salto de linea para que el componente no quede muy pegado al top, puede eliminarse-->
		
    <div align="center" class="container-fluid" id="router-outlet">
        <router-outlet></router-outlet>
    </div>
	  
    <div id="eventos">
      <h1>Aqui dentro ira todos los eventos que quieren mostrarse</h1>
      <h2>ejemplo h2</h2>
    </div> 
  
  </div>
</h1>