.routing {
	background-image: url("../cesped.jpg");
	width: 1400px; height: 330px;
}

div.fixed {
	position: fixed;
	
    right: 100px;
}

#router-outlet{
	position: absolute;
  	top: 45%; 
  	left: 35%;
}

#ayuntamiento {
	position: absolute;
  	top: 130px; 
  	left: 650px;
}

#cuartel {
	position: absolute;
  	top: 120px; 
  	left: 275px;
}

#recursos {
	position: absolute;
  	top: 120px;
  	left: 450px;
}

#mercado {
	position: absolute;
  	top: 120px;
  	left: 900px;
}

#ejercito {
	position: absolute;
  	top: 120px;
  	left: 1075px;
}

#armeria {
	position: absolute;
  	top: 120px; 
  	left: 1250px;
}

img.pequeña{
  	width: 100px; height: 100px;
}
img.mediana{
  	width: 150px; height: 150px;
}
img.pequeña:hover{
	width: 200px; height: 200px;
	transition: width 2s, height 2s;
}
img.mediana:hover{
	width: 200px; height: 200px;
	transition: width 2s, height 2s;
}
img.pequeña:active{
	width: 0px; height: 0px;
}