div.inline { 
  float:left; 
  margin-right: 100px;
}

button a {
  color: black;
}

.routing {
  background-image: url("../cesped.jpg");
  width: 1400px; height: 1750px;
}

div.fixed {
  position: fixed;
  
    right: 100px;
}

.router-outlet{
  position: absolute;
    top: 45%; 
    left: 35%;
}

#eventos{
  position: absolute;
  top: 470px;
  background-color: grey;
  width: 1400px; height: auto;
  text-align: center
}

#ayuntamiento {
  background-image: url(../fotos/ayuntamiento.png);
  position: absolute;
    top: 120px; 
    left: 650px;
}

#recolector {
  background-image: url(../fotos/recolector.png);
  position: absolute;
  top: 120px; 
  left: 100px;
}

#cuartel {
  background-image: url(../fotos/cuartel.png);
  position: absolute;
    top: 120px; 
    left: 275px;
}

#recursos {
  background-image: url(../fotos/recursos.png);
  position: absolute;
    top: 120px;
    left: 450px;
}

#mercado {
  background-image: url(../fotos/mercado.png);
  position: absolute;
    top: 120px;
    left: 900px;
}

#ejercito {
  background-image: url(../fotos/ejercito.png);
  position: absolute;
    top: 120px;
    left: 1075px;
}

#armeria {
  background-image: url(../fotos/armeria.png);
  position: absolute;
    top: 120px; 
    left: 1250px;
}

img.pequeña{
    width: 100px; height: 100px;
}
img.mediana{
    width: 150px; height: 170px;
}
